<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EatToLife"
        tools:targetApi="31">
        <activity android:name=".basic.Wo" />
        <activity android:name=".basic.JianKangTJ" />
        <activity android:name=".basic.JianKangDA" />
        <activity android:name=".user.ZhangHaoXX"/>
        <activity android:name=".user.ZhaoHuiMM"/>
        <activity android:name=".basic.YunDongKLLB" />
        <activity android:name=".basic.ShiWuKLLB" />
        <activity android:name=".food.FoodInfo"/>
        <activity android:name=".food.FoodAddActivity"/>
<!--        <activity android:name=".food.FoodEditActivity" />-->

        <activity
            android:name=".basic.YinShiTJ"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tools.Fragment" />
        <activity android:name=".tools.SpinnerActivity" />
    </application>

</manifest>